*.pyc
__pycache__
*.pyo
*.pyd
*.py~
*.swp

/venv

.DS_Store
Thumbs.db

/data
/logs
/deployment
deployment/
./deployment
deployment
node_modules
bower_components
.idea
.vscode
.pytest_cache
.dockerignore
data
data/
/data